
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
}


.neon-card {
    width: 150px;
    height: 200px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    box-shadow:0 0 20px rgb(37 3 37 / 80%),
		0 0 40px rgb(0 0 0 / 60%),
		 0 0 60px rgb(0 0 0 / 40%);
    position: relative;
    top: 100px;
    left: 30%;
    background-color: #181717;
    
}

.neon-card::before {
    content: '';
    position: absolute;
    top: 30px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 10px;
    background: linear-gradient(45deg, #ff00ff, #00ffff);
    z-index: -1;
    filter: blur(10px);
}

.text {
    color: #fff;
    font-size: 50px;
    text-align: center;
    padding: 20px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
                 0 0 20px rgba(255, 255, 255, 0.6);
}




.neon-cardtwo {
    width: 150px;
    height: 200px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    box-shadow:0 0 20px rgb(37 3 37 / 80%),
		0 0 40px rgb(0 0 0 / 60%),
		 0 0 60px rgb(0 0 0 / 40%);
    position: relative;
	top: -100px;
    left:60%;
    background-color: #181717;
}

.neon-cardtwo::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 10px;
    background: linear-gradient(45deg, #ff00ff, #00ffff);
    z-index: -1;
    filter: blur(10px);
}

.neon-cardtwo:hover {
    background-color: #ccc;
    cursor: pointer;
}
.neon-card:hover {
    background-color: #ccc;
    cursor: pointer;
}

a {
	text-decoration: none;
}

.projectname {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 8px;
    width: 100%;
    align-items: center;
    outline: none;
}